---
// import type { string } from "astro:schema";

interface Props {
  userNameCard: string;
  bodyCard: string;
  hrefSocial: string;
  titleLink: string;
  imgProfileCard: string;
  userEmail: string;
}

const {
  userNameCard,
  bodyCard,
  hrefSocial,
  titleLink,
  imgProfileCard,
  userEmail,
} = Astro.props;
---

<li
  class="max-w-sm rounded my-3 overflow-hidden shadow-lg bg-white dark:bg-gray-800"
>
  <div class="flex items-center p-4">
    <img
      class="w-10 h-10 rounded-full mr-4 dark:bg-gray-900"
      src={imgProfileCard}
      alt="Avatar default img"
    />
    <div class="text-sm">
      <!-- Clases para texto que cambia en modo oscuro -->
      <p class="text-gray-600 dark:text-gray-300 leading-none">
        {userNameCard}
      </p>
      <p
        class="text-gray-600 sm:text-xs fontZise/xs dark:text-gray-300 leading-none"
      >
        {userEmail}
      </p>
      <p class="text-gray-600 dark:text-gray-300">{bodyCard}</p>
      <a
        href={hrefSocial}
        target="_blank"
        rel="noopener noreferrer"
        title={titleLink}>icon gitHub</a
      >
    </div>
  </div>
</li>
